<mat-toolbar color="primary">
  Open Source Events
</mat-toolbar>

<cdk-virtual-scroll-viewport #scroller itemSize="72" class="content">
  <mat-list style="width: calc(100vw - 17px);">
    <ng-container *cdkVirtualFor="let item of listItems">
      <mat-list-item style="height:72px;">
        <img matListAvatar [src]="'/assets/placeholder.jpg'">
        <h3 matLine> {{item.title}} </h3>
        <span matLine>{{item.startDate | date:'EEE MMM d, h:mm a' | uppercase }}</span>
        <mat-divider></mat-divider>
      </mat-list-item>
    </ng-container>
    <div class="spinner-item" style="height:75px;" *ngIf="!endOfEvents">
      <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50"></mat-progress-spinner>
    </div>
  </mat-list>
</cdk-virtual-scroll-viewport>

<router-outlet></router-outlet>
