:host {
  display:block;
}

.content {
  width: 100%;
  height: calc(100vh - 64px);
  overflow-y: scroll;
  overflow-x: hidden;

}

.spinner-item {
  display: grid;
  place-items: center;
  margin-top: 10px;
}
